.future-bg {
  background-image: url("../img/background-home1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.future-name {
   font-size: 72px;
   margin-left: 10%;
   margin-top: 50px;
   color: #3a3a3a;
   letter-spacing: 3px;
   font-family: vds_bold;
}

.future-intro {
  margin-top: 30px;
  margin-left: 15%;
  padding-bottom: 130px;
  font-size: 24px;
  color: #3a3a3a;
  font-family: vds_bold;
  letter-spacing: 2px;
}
